body {
  height: 1rem;
  margin-top: 20rem;
  padding: 2rem;
  display: grid;
}
div {
  background: white;
  padding: 1rem 2rem;
  text-align: center;
}
span {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  font-family: monospace;
}